<table style="margin: 20px 0; width: 100%;">
  <tr><td colspan="3" *ngIf="viewMode">
    <span style="font-size:30px; font-weight:bold">{{order.id}}</span>
    Customer: {{order.customerName}}<br>
    {{order.time| date:'shortTime'}}
    <span>Total: {{order.getTotal() | currency}}</span>

    <button style="margin: 5px;float: right;" (click)="onMarkDone.emit()">Done</button>
    <a style="margin: 5px;float: right;" target="popup" [routerLink]="['/print/'+order.id]"
    onclick="window.open('','popup','width=600,height=600'); ">Print</a>
  </td></tr>
  <tr>
    <th style="width: 260px" >Item</th>
    <th >Price</th>
    <th>Count</th>
  </tr>

  <tr *ngFor="let selected of order.items">
    <td >{{selected.title}}<span class="itemSize" [hidden]="!selected.label">({{selected.label}})</span>,
    </td>
    <td> {{selected.price | currency}}</td>
    <td *ngIf="!viewMode" >
      <input type="text"[(ngModel)]="selected.count" class="orderCount" />
      <button (click)="removeItem(selected)">X</button>
    </td>
    <td *ngIf="viewMode"><label >{{selected.count}}</label></td>
  </tr>

</table>
<span *ngIf="!viewMode">Total: {{order.getTotal() | currency}}</span>

