
<audio id="myAudio"></audio>

<div style="float: left; width: 50%;">
    <div style="margin: 10px;">Search: <input [(ngModel)]="filter" (focus)="filter=''" /></div>
    <china-menu (onSelectItem)="selectChanged($event)" [filter]="filter"></china-menu>
</div>



  <div style="float: left; width: 46%;">
    <div class="addOrder">


      Customer: <input [(ngModel)]="order.customerName">
      <button (click)="addOrder()" [disabled]="!order.items">Add Order</button>


      <div class="editOrder"><china-order [order]="order"></china-order></div>


    </div>

    <hr/>

    <china-order-list></china-order-list>
  </div>

