
<audio id="myAudio"></audio>

<div style="float: left; width: 50%;">
    <div style="margin: 10px;">Search: <input [(ngModel)]="filter" (focus)="filter=''" /> </div>
    <div>
      <button (click)="filter='+'">Additional</button>
      <button (click)="filter='Chicken'">Chicken</button>
      <button (click)="filter='Beef'">Beef</button>
      <button (click)="filter='Shrimp'">Shrimp</button>
      <button (click)="filter='Lo Mein'">Lo Mein</button>
    </div>
    <china-menu (onSelectItem)="selectChanged($event)" [filter]="filter"></china-menu>
</div>



  <div style="float: left; width: 46%;">
    <div class="addOrder">



      <button (click)="addOrder()" [disabled]="order.items.length==0">Add Order</button> for customer: <input [(ngModel)]="order.customerName"><br>


      <div class="editOrder"><china-order [order]="order"></china-order></div>


    </div>

    <hr/>

    <china-order-list></china-order-list>
  </div>

