
<div style="float: left; width: 60%;">
Menu
  <china-menu (emitter)="selectChanged($event)" [filter]="filter"></china-menu>
</div>



<div style="float: left; width: 35%;">
  <div class="addOrder">
    Search: <input [(ngModel)]="filter" (focus)="filter=''" /><br>
    Customer: <input [(ngModel)]="order.CustomerName">
    <button (click)="addOrder()">Add Order</button>
    <div  style="background-color:rgb(238, 238, 238);"><china-order [order]="order"></china-order></div>


  </div>

  <hr/>

  <china-order-list></china-order-list>
</div>

